<NavLink class="header-nav-tab" href="/dashboard" Match="NavLinkMatch.All">
    <OcticonIcon Name="home" Size="16" Class="header-nav-icon" />
    <span>Dashboard</span>
</NavLink>
<NavLink class="header-nav-tab" href="/workspaces">
    <OcticonIcon Name="server" Size="16" Class="header-nav-icon" />
    <span>Workspaces</span>
</NavLink>
<NavLink class="header-nav-tab" href="/todos">
    <OcticonIcon Name="tasklist" Size="16" Class="header-nav-icon" />
    <span>Todos</span>
</NavLink>
<NavLink class="header-nav-tab" href="/sessions">
    <OcticonIcon Name="history" Size="16" Class="header-nav-icon" />
    <span>Sessions</span>
</NavLink>
<NavLink class="header-nav-tab" href="/templates">
    <OcticonIcon Name="file-code" Size="16" Class="header-nav-icon" />
    <span>Templates</span>
</NavLink>
<NavLink class="header-nav-tab" href="/context/search">
    <OcticonIcon Name="search" Size="16" Class="header-nav-icon" />
    <span>Search</span>
</NavLink>
<NavLink class="header-nav-tab" href="/health-dashboard">
    <OcticonIcon Name="check-circle" Size="16" Class="header-nav-icon" />
    <span>Health</span>
</NavLink>
<AuthorizeView Roles="admin,agent-manager">
    <NavLink class="header-nav-tab" href="/auth/config">
        <OcticonIcon Name="shield-lock" Size="16" Class="header-nav-icon" />
        <span>Auth</span>
    </NavLink>
</AuthorizeView>
