[submodule "lib/Markdown.Avalonia"]
	path = lib/Markdown.Avalonia
	url = https://github.com/whistyun/Markdown.Avalonia.git
[submodule "scripts/MsixTools"]
	path = scripts/MsixTools
	url = https://github.com/sharpninja/MsixTools.git
