[submodule "lib/Markdown.Avalonia"]
	path = lib/Markdown.Avalonia
	url = https://github.com/whistyun/Markdown.Avalonia.git
[submodule "lib/McpServer"]
	path = lib/McpServer
	url = https://github.com/sharpninja/McpServer.git
[submodule "tools/McpServerTools"]
	path = tools/McpServerTools
	url = https://github.com/sharpninja/McpServerTools.git
