@page "/access-denied"
@attribute [AllowAnonymous]

<PageTitle>Access Denied</PageTitle>

<PrimerBlankslate
    Heading="Access Denied"
    Description="You do not have permission to view this page. Contact your administrator if you believe this is an error.">
    <a class="btn btn-primary" href="/dashboard">Back to dashboard</a>
</PrimerBlankslate>
